.new-expense {
  background-color: #e6d239;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 6px white;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  background-color: #e0c513;
  color: black;
  border-radius: 12px;
  margin-right: 1rem;
  box-shadow: 0 1px 6px white;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #3e83a8;
  border-color: #3e83a8;
  color: white;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #e6d239;
}
